:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 93%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
}
.containerNavbarDeatail{
    border: 4px solid var(--blackColor);
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    ul{
        background: white;
        li{
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            border: 1px solid var(--textColor);
            // text-align: center;
            color: var(--whiteColor);
            font-weight: 600;
        }
    }
}

.nameProvince{
    color: var(--whiteColor);
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    height: 100%;
    background: var(--PrimaryColor);
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}