:root {
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 93%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
}

.home {
    height: 70vh;
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url('../../Assets/AvaHome.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 0;
    .secContainer {
        .homeText {
            text-align: center;
            .title {
                color: var(--whiteColor);
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;
                //padding-bottom: 1rem;
            }

            .subTitle {
                color: var(--whiteColor);
                opacity: .9;
                font-size: 13px;
                font-weight: 300;
                padding: 1rem 0;
                max-width: 70%;
                text-align: center;
                margin: auto;
            }

            .search {
                width: 25rem;
                height: 4rem;
                //position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                background: var(--whiteColor);
                border: 1px solid var(--PrimaryColor);
                border-radius: 3rem;
                //padding: 1rem 6rem;
                p{
                    color: var(--textColor);
                    font-size: 25px;
                    margin-left:15px;
                    
                    // position: absolute;
                    // left: 10px;
                    // display: flex;
                    // align-items: center;
                    // justify-content: space-between;
                }
                .icon {
                    // position: absolute;
                    // right: 5px;
                    //display: inline-block;
                    margin-right:5px;
                    border-radius: 50%;
                    background: var(--PrimaryColor);
                    color: var(--whiteColor);
                    font-weight: 600;
                    width: 3rem;
                    height: 3rem;
                    //căn giữa
                    display: flex;
                    justify-content: center;
                    align-items: center;


                }

            }
        }


    }
}

@media screen and (min-width: 556px) {
    .home {
        .secContainer {
            .homeText {
                .title {
                    font-size: 2.5rem;
                }

                .subTitle {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .home {
        .secContainer {
            .homeText {
                padding: 1rem 10rem;
                .title{
                    //font-size: 3rem;
                    margin: auto;
                    line-height: 4rem;
                }
                .subTitle{
                    width: 70%;
                }
            }
        }
    }
}
